.column {
  float: left;
  width: 30%;
}

.dumpcolumn {
  float: left;
  width: 70%;
  height: 100%;
  background: #bbb;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  padding: 1em;
}

textarea {
  height: 10em;
  width: 95%;
}
